/EQ2.ISXEQ2.suo
bin/Debug/ISXEQ2Wrapper.XML
bin/Debug/ISXEQ2Wrapper.dll
bin/Debug/ISXEQ2Wrapper.pdb
bin/Release/ISXEQ2Wrapper.XML
bin/Release/ISXEQ2Wrapper.dll
bin/Release/ISXEQ2Wrapper.pdb
/obj
/.HistoryData
