* text=auto !eol
/Ability.cs -text
/AbilityEffect.cs -text
/Achievement.cs -text
/Actor.cs -text
/Character.cs -text
/Class.cs -text
/Component.cs -text
/Consignment.cs -text
/EQ2.ISXEQ2.csproj -text
/EQ2.ISXEQ2.sln -text
/EQ2.ISXEQ2.suo -text
/EQ2.cs -text
/Effect.cs -text
/Event.cs -text
/Extension.cs -text
/GroupMember.cs -text
/Item.cs -text
/Maintained.cs -text
/Merchandise.cs -text
Properties/AssemblyInfo.cs -text
/RaidMember.cs -text
/Recipe.cs -text
/VendingContainer.cs -text
/Zone.cs -text
bin/Debug/PostBuild.bat -text
bin/Release/PostBuild.bat -text
